
<div class="imagesection">
    <!-- START:hidden_div -->
    <div id="images" <%="style='display:none'"  if @all_images.empty?%> >
        <%= render(:partial => "images", :object => @all_images) %>
    </div>

    <div id="imagebutton" <%="style='display:none'" if @all_images.count >100 %> >
        <%=render(:partial => "imagebutton")%>
    </div>
</div>
