<div align="center" class="depot-form">
<!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <!-- END:flash -->

<% form_for :user do |f| -%>
<table id="newedit">
    <thead>
        <tr>
            <th CLASS="registrationheader" colspan="2" >Password Reset</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="right"><label>Email:</label></td>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <td></td>
             

            <td><%= submit_tag "Submit", {:class => "button-link"} %>
<%#= image_submit_tag ("Submit_Button.jpg",:alt=>"Submit", :border=>"0" ) %></td>
        </tr>
    </tbody>
</table>
<% end -%>
</div>