<%= render :partial=>"/pictures/upload_button.html"%>

<div id="pictures">
  <%=render(:partial=>"/pictures/picture_list.html") rescue "" %>
</div>
  
<%= render :partial=>"/pictures/upload_template.html" %>