<div id="search-bar" class="search-bar">
<div id="search">  
    <input name="q" type="text" size="30" placeholder="Search"/>
    <div class=" ui-icon-circle-close ui-icon close-button"></div>
</div>
</div>