
      <p>
        <b>title:</b><br>
        <%=editablefieldcreate("title", @picture)%>
      </p>



      <p>
        <b>description:</b><br>
        <%=editablefieldcreate("description", @picture)%>
      </p>



      <p>
        <b>position:</b><br>
        <%=editablefieldcreate("position", @picture)%>
      </p>



      <p>
        <b>image:</b><br>
        <%=editablefieldcreate("image", @picture)%>
      </p>

