/* 
    Document   : best_in_place
    Created on : Feb 15, 2012, 9:32:27 PM
    Author     : rlittle
    Description:
        Best in Place css, sourced from original release and modified for 
        this project.

*/


root { 
    display: block;
}


.best_in_place {
    /* padding: .1m; */
    cursor: hand;
    cursor: pointer;
  padding: 6px 10px 0px 8px;
    /* padding:6px;*/
    margin:4px;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
}

.best_in_place_adj {
    background: none repeat scroll 0 0 white;
    border: 1px solid #ccc;
    height: inherit;
    font: inherit;
    margin-top: -4px;
    margin-left: -5px;

} 

.best_in_place:hover, #user_account .do_hover {
    /*  padding-right: 1.5em;*/
    /*  background: url("/images/red_pen.png") no-repeat right;*/
    background-color: #CCC;
}
.info_edit {
    float: right;
    cursor: hand;
    cursor: pointer;
}

/* Missatges Flotants */
div.notice.purr {
    z-index: 5000;
}
.purr {
    position: fixed;
    width: 324px;
    top: 20px;
    right: 15px;
    padding: 20px;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.purr:hover .close  {
    position: absolute;
    top: 5px;
    right: 3px;
    display: block;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background: url("/images/close-button.gif") no-repeat;
}