/* 
    Document   : cloud.css
    Created on : Mar 7, 2013, 12:58:29 PM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.
*/


/* Width should match that of the child element #content  */
#wrapper{ margin:0px auto; width:100%; }  

/*The canvas for our postcard, must be position:relative/overflow:hidden  */
#content{ position:relative; width:100%; height:100%; overflow:hidden; }  

/* Note the negative left values that hide the clouds offscreen  */
/* The z-indexes define how the clouds with stack on top of each other */ 
#cloud1{ position:absolute; top:120px; left: -150px; z-index:4; }  
#cloud2{ position:absolute; top:80px; left: -250px; z-index:3; }  
#cloud3{ position:absolute; top:50px; left: -100px; z-index:2; }  


/* The text and stamp both positioned off-screen and on top of everything  */
#site-logo{ position:absolute; top:-100px; left: 50px; z-index:5; }  
#cloud-logo{ position:absolute; top:-100px; left: 50px; z-index:5; }  

.login-enclosure {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    position: relative;
    width: 350px;
    z-index: 32;
}

div.loginArea table {

    padding-left: 30px;
}

div.L11G {

    padding-left:10px;

}
.login-form {
    height: 235px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;

    /* Placed in form for 3-d flip
    background-color: white;
    border: double 1px #009238;
    */
}

/*  CSS 3d stuff */

div.login-form {

    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
}

div.login-form form{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    width: 400px;

    /* Enabling 3d space for the transforms */
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    /* When the forms are flipped, they will be hidden */
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /* Enabling a smooth animated transition */
    -moz-transition:0.8s;
    -webkit-transition:0.8s;
    transition:0.8s;

    /* Configure a keyframe animation for Firefox */
    -moz-animation: pulse 2s infinite;

    /* Configure it for Chrome and Safari */
    -webkit-animation: pulse 2s infinite;
}

#login-form{
    z-index:100;
    background-color: white;
    border: double 10px gray;
    border-radius: 20px;
}

#recover-form{
    z-index:1;
    opacity:0;
    background-color: white;
    border: double 10px gray;
    border-radius: 20px;

    /* Rotating the recover password form by default */
    -moz-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

div.login-form.flipped #login-form, div.login-form.flipped-register #login-form{

    opacity:0;

    /**
     * Rotating the login form when the
     * flipped class is added to the container
    */

    -moz-transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}

div.login-form.flipped #recover-form{

    opacity:1;

    /* Rotating the recover div into view */
    -moz-transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    transform:rotateY(0deg);
}
div.login-form.flipped-register #registration-form{

    opacity:1;

    /* Rotating the recover div into view */
    -moz-transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    transform:rotateY(0deg);
    width: 400px;
    height: 250px;
}


#registration-form{
    z-index:1;
    opacity:0;
    background-color: white;
    border: double 10px gray;
    border-radius: 20px;

    /* Rotating the recover password form by default */
    -moz-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.grid_tabnav {
  margin: 0px;
  width: 700px;
}

.grid_tabnav li {
  margin: 15px 15px 15px 15px;
  float: left;
  text-align: center;
  font-family: "Helvetica Neue",sans-serif;
  line-height: 17px;
  color: #686f74;
  overflow: hidden;
  border: 1px black solid;
  border-radius: 20px;
  box-shadow: 1px 1px 25px #888888;
  /* background: rgba(54, 25, 25, .3); */
  background: rgba(194, 194, 194, 0.6);
  list-style: none;
  
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}


.grid_tabnav li.hidden {
    -moz-opacity: 0;
    opacity: 0;
    top:-400px;
    left:-400px;
    -moz-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
}

.grid_tabnav li.blowup {
    -moz-opacity: 0;
    opacity: 0;
    top:-400px;
    left:-400px;
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
}


#grid-nav {
  position: relative;
  z-index: 200;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
#grid-bar {
  position: relative;
  z-index: 200;
  background: rgba(255, 255, 255, 1);
  padding: 5px 20px 5px 20px;
  border-radius: 10px 10px 0px 0px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

div#grid-action-bar {
  width: 700px;
}

div#grid-action-bar a.button-close {
  padding: 0px;
  margin: 5px;
  float:right;
}
div.grid-title {
  display: inline-block;
  float: left;
  font-size: 25px;
  font-weight: bolder;
}


div#nav-grid-links {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 105;
}

a.icon-button {
    text-decoration: none;
}

.navigation-icon-name {
    margin-top: -25px;
    font-weight: bold;
    color: green;
    text-shadow: 0px 0px 5px white;
    font-size: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 34px white;
    background: rgba(255, 255, 255, 0.55);
}

/* 
div.ui-dialog {

    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

div.ui-dialog.hidden {
    -moz-transform: scale(0.0);
    -webkit-transform: scale(0.0   );
    -o-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
}
*/

#login-enclosure-container {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index:100;
}


div#application-space.hidden {
    -moz-opacity: 0;
    opacity: 0;

    -moz-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
}



div#application-space {

    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

#application-space {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    min-height: 750px;
    height:100%;
    position: absolute;
    z-index: 101;
}

.iframe-application {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 500;
}

#cloud-switch {
    position: absolute;
    background: #ddd;
    top: 10px;
    left: 10px;
    padding: 5px;
    z-index: 1000;
    box-shadow: 5px 5px 13px #555;
    border-radius: 10px;
}


form#registration-form table {
    width: 400px;
    padding: 30px;
    padding-top:0px;
    margin-top: -20px;


}

form#recover-form table tr td.center {
    text-align:center;
    
}
form#login-form table tr td.center {
        text-align: center;

}

form#registration-form table tr td.left {
    text-align: right;
    padding-right:20px;
}
form#registration-form table tr td.center {
    text-align: center;
}



#ajax-wait {
    position: absolute;
    top: 32px;
    left: 28px;
    display: inline-block;
}

.navigation-icon {
    position: relative;
    width: 128px;
}

.validation-error {
    border: red solid 2px;
}

div.validation-error-message-div {
    width: 20px;
    height: 20px;
    background-image: image-url("interface/exclamation-circle_red.png");
    position: absolute;
    top: -12px;
    left: -17px;
}

div.validation-error-message {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 20;
    background: rgb(255, 255, 221);
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 10px;
    line-height: 10px;
}

div.validation-error-message-div:hover + div.validation-error-message {
    display: block;
}

#login-backdrop {
    margin-top:0px;
    top:0px;
    background-color: black;
    width: 100%;
    height:100%;
    z-index: 20;
    position: absolute;
    opacity: 0.5;
}

div#grid-nav {

    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

@media screen and (max-width: 524px) {
    div#grid-nav {
        top:-500px;
    }
    
   .hide-grid {
    display: inline-block !important;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    height: 20px;
    bottom: -22px;
    margin-left: 35%;
    margin-right: 35%;
    width: 22%;
}
}
