/* 
    Document   : pages
    Created on : Sep 18, 2011, 3:50:20 AM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

edit-pages 
{


}



tr.page-template-row {
  cursor: pointer;
}