/* 
    Document   : pages
    Created on : Sep 18, 2011, 3:50:20 AM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

edit-pages 
{


}



form.edit_page_template {
margin-top: -20px;
}

div.div-security_group {
display: inline-block;
margin-left: 50px;
padding-bottom: 25px;
}

#page-template-table > tbody > tr.page-template-row {
cursor: pointer;
}

div#page-template-tabs div.cms-content {
height: 500px;
overflow: auto;
}

li.inactive-slider span.list-title {
  color: red;
}

a.version-info.selected {
  color: white;
  background-color: black;
  padding: 4px;
}

tr.page-row {
  cursor: pointer;
}