/* 
    Document   : change_password
    Created on : Mar 8, 2013, 6:56:06 PM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.
*/

#update-password-button {
    position: absolute;
    float:initial;
    bottom: 20px; 
    right: 20px;

    /* display: inline-block;
    margin-top: 56px;
    margin-left: 288px;*/
}

#app-dialog .m-block {
  /*  width: initial; */
}

.m-heading {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 3px;
}

#password-div {
display: inline-block;
position: relative;
margin-bottom: 25px;
padding-bottom: 25px;
height: 25px;
}


div.m-section {
  margin: 10px;
  padding: 10px;
  height: 200px;
}

.m-block {
  display: block;
  position: relative;
  background-image: url(/assets/interface/patterns/cloth_alike_@2X-9d981f0957cc42ace89dc218241813ab4154a47b67783f090db3c845c1e86f42.png);
  background-repeat: repeat;
  overflow: hidden;
  padding: 5px;
  display: table;
  width: 99%;
  height: 100%;
}
.m-section {
  border: grey solid 1px;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: gray 5px 5px 20px;
  padding-bottom: 30px;
}